@import "tailwindcss";

@theme {
  --color-primary: oklch(0.8 0.18 190);
  --color-bg: oklch(0.15 0.02 260);
  --color-surface: #171717;
  --color-border: rgba(0,200,250);
  --color-text-muted: oklch(0.7 0.02 260);

  --breakpoint-xl: 64rem;
}


html, body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: var(--font-body);
  overflow-y:visible;
  @apply bg-neutral-950 text-neutral-100;

}

.section-title,
.post-title, 
.article-title,
label{
  font-family: var(--font-titles);
  letter-spacing: 0.08em;
}

.post-preview,
.post-meta,
.quote-text,
.hero-subtitle {
  font-family: var(--font-body);
  letter-spacing: 0.02em;
}